@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,600,700&display=swap');

/* Mobile styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  min-height: 100vh;
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 5rem 0 1rem;
}

header,
section,
div.image-board {
  margin-bottom: 2rem;
}

.intro h1 {
  color: hsl(209, 33%, 12%);
  font-size: 20px;
}

.intro h1 span {
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}

.intro p {
  margin-top: 1rem;
  font-size: 14px;
  color: hsl(209, 33%, 12%);
}

/* form styles */
.form {
  margin-bottom: 5rem;
}

.form input {
  width: 60%;
  padding: 12px 20px;
  border-radius: 60px;
  border: 1px solid hsl(223, 100%, 88%);
  margin-bottom: 0.5rem;
  outline: none;
}

.form input.error {
  border-color: hsl(354, 100%, 66%);
}

.error-message {
  color: hsl(354, 100%, 66%);
  font-size: 12px;
  margin-bottom: 2rem;
  display: block;
  visibility: visible;
}

.form input.valid {
  border: 1px solid rgb(63, 240, 47);
}

::placeholder {
  color: hsl(223, 100%, 88%);
  font-weight: 300;
}

button {
  width: 60%;
  padding: 12px 0;
  border-radius: 60px;
  border: none;
  color: #fff;
  font-weight: 300;
  background-color: hsl(223, 87%, 63%);
  box-shadow: 0 3px 6px hsla(234, 36%, 76%, 0.3),
    0 6px 9px hsla(234, 36%, 76%, 0.3);
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: hsl(223, 83%, 72%);
}

div.image-board {
  content: url('./images/illustration-dashboard.png');
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
}

section.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.social-media-icons div {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  padding: 8px;
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 50%;
  color: hsl(223, 87%, 63%);
  text-align: center;
  vertical-align: middle;
  line-height: 21px;
}

small {
  color: hsl(0, 0%, 59%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Desktop styles */
@media screen and (min-width: 680px) {
  .intro h1 span {
    letter-spacing: 0.1em;
  }

  .form input {
    margin: 5px 10px 5px 0;
    width: 40%;
  }

  .form.validate {
    position: relative;
  }

  .error-message {
    position: absolute;
    right: 25%;
    width: 40%;
    text-align: left;
  }

  button {
    width: 20%;
  }
}
